<div class="row">
  <div class="col-md-6">
    <h2 class="login-title">Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="username" id="email-login" placeholder="*********"/>
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" placeholder="*********"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Let's find some music!</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2 class= "signup-title">Register</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="username-register">Username:</label>
        <input class="form-input" type="text" id="name-signup" placeholder="*********" />
      </div>
      <div class="form-group">
        <label for="email-register">Email:</label>
        <input class="form-input" type="text" id="email-signup" placeholder="e.g. alex@example.com"/>
      </div>
      <div class="form-group">
        <label for="password-register">Password:</label>
        <input class="form-input" type="password" id="password-signup" placeholder="*********" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Register</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>
