<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Add new playlist:</h3>

    <form class="form new-playlist-form">
      <div class="form-group">
        <label for="Playlist-name">Playlist Name:</label>
        <input class="form-input" type="text" id="playlist-name" name="playlist-name" />
      </div>

    </form>
  </div>
</div>