body {
  background-image: url("/Images/background.jpg"); 
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  justify-content: center;
  height: 200vh;
}

.login-title, .signup-title {
  border: solid 2px black;
  width: 33%;
  padding: 0 3rem; 
  border-radius: 3%;
  text-align: center;
}

.login-form, .signup-form {
  border: solid 3px black;
  width: 33%;
  padding: 2rem 3rem;
  border-radius: 5%;
  background-color: rgb(192, 187, 187);
  opacity: 0.8;
}

.form-group {
  display: flex;
  /* border: solid 2px black; */
  width: 100%;
  padding: 1rem;
}

.form-group label{
  /* border: solid 1px black; */
  width: 18%;
  text-align: right;
  margin-right: 0.25rem;
}

.form-group button {
  margin: 0 auto;
}


